/*

!/.idea
!/.editorconfig
!/bin
!/config
!/resources
!/src

!/var
/var/**/*.*
!/var/**/configurable_services.yaml
!/var/configuration/environment/*.yaml

!/.gitattributes
!/.gitignore
!/composer.json
!/LICENSE
!/README*
